<div [class]="dataService.singleLiteDarkBody">
    <span class="navigation-btn">
        <button [ngStyle]="{'background-color': dataService.lightDarkBool ? '#FAFAFA':'#2B3844' , 'color': dataService.lightDarkBool ? '#111517':'#FFF' }" mat-button [routerLink]="['/home']"><mat-icon>arrow_back</mat-icon>Back</button>
    </span>
    
    <!-- <div [ngClass]="theme ? dark : lite"></div> -->
    <div class="country mobile-view">
        <div class="country-flag mobile-view">
            <img [src]="this.dataService.country.flags.png" alt="" srcset="">
        </div>
        <div class="country-details" *ngIf="this.dataService.country">
            <div class="row country-internal-detail">
                <span class="detail-country-name">
                    {{dataService.country.name.common}}
                </span>
                <div class="sub-details">
                    <div class="details-1">
                        <ul>
                            <li><span class="property">Native Name</span>: {{nativeName}}</li>
                            <li><span class="property">Population</span>: {{dataService.country.population}}</li>
                            <li><span class="property">Region</span>: {{dataService.country.region}}</li>
                            <li><span class="property">Sub Region</span>: {{dataService.country.subregion}}</li>
                            <li><span class="property">Capital</span>: {{dataService.country.capital[0]}}</li>
                        </ul>
                    </div>
                    <div class="details-2">
                        <ul>
                            <li><span class="property">Top Level Domain</span>: {{dataService.country.tld}}</li>
                            <li><span class="property">Currencies</span>: {{currency}}</li>
                            <li><span class="property">Languages</span>: {{languages}}</li>
                        </ul>
                    </div>
                </div>
                
            </div>
            <div class="border-countries">
                <span class="property">
                    Bourder Countries: 
                </span>
                <ul class="border-countries-list row">
                    <li [ngStyle]="{'background-color': dataService.lightDarkBool ? '#FAFAFA':'#2B3844' , 'color': dataService.lightDarkBool ? '#111517':'#FFF' }" *ngFor="let ne of dataService.neighbourhingCountries">{{ne}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>