.navigation-btn{
    display: flex;
    margin: 80px auto 80px;
}

.country{
    display: flex;
}

.country-flag{

}

.country-details{
    
}

.country-name{
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.sub-details{
    display: flex;
}

ul{
    list-style-type: none;
}