/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:host {
    color: #111517;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  .body-magin{
    margin-left: 80px;
    margin-right: 80px;
}
.body-padding{
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 80px;
}
  // .select-dark{
  //   background: #2B3844;
  // }

  // .select-lite{
  //   background: #FFF;
  // }

.lite-mode{
    background: #FAFAFA;
    color: #111517;
    transition: background-color 0.3s ease;
}

.dark-mode{
    background: #202C36;
    color: #FFF;
    transition: background-color 0.3s ease;
}

.spread{
    justify-content: space-between;
}

.filter-input{
    width: -webkit-fill-available;
    border: none;
    outline: 0px;
}

.filter-svg{
    display: flex;
    align-items: center;
    margin-left: 32px;
    margin-right: 24px;
}
.filter-container-lite{
    width: 480px;
    height: 56px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
}

.filter-container-dark{
    width: 480px;
    color: #FFF;;
    height: 56px;
    border-radius: 5px;
    background: #2B3844;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
    transition: background-color 0.3s ease;
    
    .filter-input{
        color: #FFF;
    }
}
.sort-container-lite{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 56px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
  border: none;
  transition: background-color 0.3s ease;
}
.sort-container-dark{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 56px;
    border-radius: 5px;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
    border: none;
    background: #2B3844;
    color: #FFF;
    transition: background-color 0.3s ease;
}

input{
    background: transparent;
}



.country-card-lite{
    width: 264px;
    height: 336px;
    margin-bottom: 72px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
    transition: background-color 0.3s ease;
}

.country-card-dark{
    width: 264px;
    height: 336px;
    margin-bottom: 72px;
    border-radius: 5px;
    background-color: #2B3844;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
    transition: background-color 0.3s ease;
    color: #FFF;
}

mat-card{
    cursor: pointer;
}
.country-brief-details{
    margin: 24px 24px auto 24px;
}

.country-name{
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 26px;
    margin-bottom: 16px;
}


.shift-right{
    margin-left: auto;
}

.select-shift-right{
    margin-left: auto;
}

.mb-48{
    margin-bottom: 48px;
}

.mt-48{
    padding-top: 48px;
}

.ml-8{
    margin-left: 8px;
}

.font-16{
    font-size: 16px;
}

.theme-switcher{
    cursor: pointer;
}


@media screen and (max-width: 575px) {
    .body-magin{
        margin-left: 16px;
        margin-right: 16px;
        }
        .body-padding {
          padding-left: 10px; 
          padding-right: 10px; 
          padding-bottom: 80px;
      }
        .select-shift-right{
            margin: 40px auto 0px 0px;
        }

        .spread-sm{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .country{
          display: flex;
          width: 100%;
          gap: 20px;
          flex-wrap: wrap;
          justify-content: space-between;
        }
        

      .country-card-lite {
        width: 100%;
        height: unset;
        margin-bottom: 72px;
        border-radius: 5px;
        background: #FFF;
        box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
        transition: background-color 0.3s ease;
    }
    
    .country-flag {
      margin-right: 0px; 
      width: 100%;
  }
  .country-card-dark {
    width: unset;
    height: 336px;
    margin-bottom: 72px;
    border-radius: 5px;
    background-color: #2B3844;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
    transition: background-color 0.3s ease;
    color: #FFF;
}
    }
@media screen and (min-width: 575px) {
    .country-flag{
      margin-right: 120px;
      width: 50%;
    }
  }

//   @media screen and (max-width: 575px) {
//     .body-magin{
//       margin-left: 16px;
//       margin-right: 16px;
//     }
//   }

//////////////// single country
/// 
/// 
.navigation-btn{
  display: flex;
  margin-bottom: 80px;
  padding-top: 80px;
}

.country{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

// .country-flag{
//   margin-right: 120px;
//   width: 50%;
// }

.country-flag img{
  width: 100%;
  border-radius: 10px;
}

.back-btn-dark{
  background: #2B3844;
  color: #FFF;
}

.back-btn-lite{
  background: #FFF;
  color: #111517;
}
.country-details{
  width: 598px;
}

.details-1, .details-2{
  line-height: 32px
}

.country-name{
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.sub-details{
  display: flex;
}

ul{
  list-style-type: none;
}

li{
  font-size: 16px;
}

.property{
  font-size: 16px;
  font-weight: 600;
}

.border-countries{
  display: flex;
  padding-left: 32px;
}

.border-countries-list > li{
  width: fit-content;
  height: 28px;
  border-radius: 2px;
  font-weight: 300;
  font-size: 14px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.10);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

.border-countries >span{
  display: flex;
}