/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background: #FAFAFA;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:host {
    color: #111517;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
@media screen and (max-width: 767px) {
    
  }

  @media screen and (max-width: 575px) {

  }